@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
  width: 100%;
}

body {
  background-color: #7d1333;
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid black;
  padding: 0 2px;
  box-sizing: border-box;
  color: black;
}
